* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  padding: 5px;
  margin: 5px;
}

img {
  width: 300px;
  border-radius: 5%;
  padding: 0;
  margin: 0;
}

.caja {
  border: 3px solid;
  user-select: none;
  background-color: rgb(245, 245, 245);
}

.button {
  background-color: rgb(127, 229, 255);
}

input {
  border: 3px solid;
}
